body {
	margin: 0;
	font-family: "Arial", sans-serif;
}

.container {
	display: flex;
}

/* Sidebar */
.sidebar {
	width: 150px;
	background-color: #202020;
	color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	position: fixed;
}

.sidebar h1 {
	font-size: 24px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.sidebar a {
	color: #fff;
	text-decoration: none;
	display: block;
	margin: 10px;
	margin-bottom: 10px;
}

.content {
	flex: 1;
	padding: 20px;
	margin-left: 192px;
	background-color: rgb(255, 255, 255);
}

/* Responsive layout */
@media only screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		min-width: 100%;
	}

	.sidebar {
		width: 100%;
		height: auto;
		position: fixed;
	}

	.content {
		margin-top: 50px;
		margin-left: 0;
	}
}

/* Table styles */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
}

th {
	background-color: #333;
	color: #fff;
}
